input[type=number] {
    /* XXX: Remove? */
        height: auto;
}

/* By default, display "no entries" message */
.empty {
    display: block;
}

.filled {
    display: none;
}

/* Deactivate when list has items */
.has-items .empty {
    display: none;
}

/* Active when list has items */
.has-items .filled {
    display: block;
}


#mini-cart .btn {
}

.add-count {
        text-align: right;
        width: 50px;
}

#checkout-popup {
        position: fixed;
        width: 700px;
}

#checkout-popup .pb-ajax {
        padding: 30px;
}

#checkout-popup .pb-ajax > div {
        width: 100%;
        padding: 0;
}

/* Too long lists become unscrollable otherwise */
.checkout-popup-scroller {
    height: 300px;
    overflow: auto;
}

.checkout-list {
        width: 100%;
        border-collapse: collapse;
        border: 1px solid #eee;
        margin-bottom: 20px;
}

table.checkout-list td,
table.checkout-list thead th {
        text-align: left;
        border: 1px solid #eee;
        padding: 5px;
}

table.checkout-list td {
    vertical-align: middle;
}

table.checkout-list thead th {
    vertical-align: top;
}
.checkout-list img {
    max-width: 48px;
    max-height: 48px;
}

.checkout-list td.column-price, .checkout-list td.column-total {
        text-align: right;
}
.checkout-list .column-count {
        text-align: center;
}
.checkout-list .column-count input {
        width: 70px;
        text-align: center;
}
.checkout-list .column-remove {
        cursor: pointer;
        color: #a00;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        vertical-align: middle;
}
.checkout-list .column-remove:hover {
        background: #fcc;
}
.checkout-list .discreet {
        font-size: 80%;
        color: #aaa;
}
.checkout-footer {
        text-align: right;
}
.checkout-footer .left {
        float: left;
}
.checkout-footer .right {
        float: right;
}

.checkout-buttons {
    margin-top: 10px;
}

.empty-checkout {
        text-align: center;
        margin-top: 40px;
}

/* Payment form styles */

.payment-form {
    margin-bottom: 20px;
}

/* Checkout form styles */
.pfg-form .formControls {
    text-align: center;
    margin: 0 auto;
}

.pfg-form .formControls input {
    font-size: 120%;
}

.payment-form-order-totals {
    text-align: right;
}

.payment-form .buttons {
    text-align: center;
}

/* IE7 fixes */

.pb-ajax {

}

/* IE7 fix */
#checkout-popup {
    z-index: 15000;
    position: relative;
}


#checkout-popup .close {
    z-index: 15001;
}


/* Travelplanner css */
.travelplannerPortlet {
    text-align: center;
}
.travelplannerPortlet .showButton,
.travelplannerPortlet .printButton {
    display: none;
}
.travelplannerPortlet .has-items .showButton,
.travelplannerPortlet .has-items .printButton {
    display: inline;
}
.travelplannerPortlet .has-items .emptyCartText {
    display: none;
}

.travelplannerPortlet .remove {
    cursor: pointer;
    color: red;
    font-weight: bold;
}